html,body {
    margin:0;padding:0
}

body {
    font: 85%/1.3 Arial,sans-serif;
    text-align: left;
    background: #fff;
    padding-bottom:20px
}

#content {
  background: gold;
  width: 100%; 
  height: 100%;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
}
