html,body {
    margin:0;padding:0
}

body {
  font: 24px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #67686b;
  background-image: repeating-linear-gradient(-45deg, rgba(47, 54, 152, 0.1), rgba(47, 54, 152, 0.1) 1px, transparent 1px, transparent 6px);
}

#content {
  background-image: repeating-linear-gradient(36deg, rgba(34, 178, 76, 0.1), rgba(34, 178, 76, 0.1) 1px, transparent 0px, transparent 2px);
  background-size: 2px 2px;
  border: 6px;
  border-style: dotted;
  border-color: #2e349a;
  border-radius: 10%;
  padding: 24px;
  margin: 48px auto 48px auto;
  width: 80%;
  text-align: center;
}

#content img {
  padding: 24px 0 48px 0;
}

#content div {
  padding-bottom: 18px;
}
#content div:hover {
  font-style: italic;
  font-weight: bold;
}

#content span a {
  text-decoration: none;
  color: #2e349a;
}
#content span a:hover {
  text-decoration: underline;
}

#content button {
  border: 1px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  width: 300px;
  padding: 8px 0 8px 0;
  margin-bottom: 20px;
  cursor: pointer;
}

#content p.version {
    font-size: .7em;
    margin-top: 48px;
}

#logo {
  height: 700px;
  width: 700px;
}

@media only screen and (max-width: 1024px){
  #logo {height: 500px; width: 500px;}
  body {font-size: 22px;}
}

@media only screen and (max-width: 768px){
  #logo {height: 400px; width: 400px;}
  body {font-size: 20px;}
}

@media only screen and (max-width: 480px){
  #logo {height: 300px; width: 300px;}
  body {font-size: 18px;}
}
